header{
  margin-bottom: 10%;
}
#cuerpo{
display: flex;
justify-content: center;
align-items: center;
}
.rounded-navbar {
  border-radius: 30px;
  margin: 5vh 15px 0;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: rgba(224, 227, 230, 0.9) ;
}
.fixed-top {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 90vw;
  z-index: 1030;
}
.navbar-nav {
  gap: 15px;
  justify-content: center;
  align-items: center; 
}
.nav-lin {
background-color: rgba(248, 249, 250, 0.9); 
border: none;
color: black; 
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px; 
margin: 4px 2px; 
cursor: pointer; 
border-radius: 100em; 
white-space: nowrap;
margin-left: auto;
}
.nav-lin:hover {
  color: #1cb7c2 ;
  background-color: rgba(203, 208, 212, 0.9);
  transition: 0.4s ease-in-out; 
}
#iniciar{

  background-color: #1cb7c2; 
  border: none;
  color: white; 
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 50em; 
}
#iniciar:hover{
background-color: #1aa8b3;
transition: 0.4s ease-in-out;
}

footer{
  position: flex;
  margin: 0 auto;
  background-color: lightgray;
  text-align: center;
}
.logo1{
max-width: 60px;
height: auto;
}
.logo1:hover{
opacity: 0.7;
transition: opacity 0.4s ease-in-out;
}

#registrarse-principal {
border: none;
background-color: #1cb7c2;
color: #ffff;
}

#registrarse-principal:hover {
background-color: #1aa8b3;
transition: 0.4s ease-in-out;
}